<%- include('partials/header') -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-row">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="postTitle" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="Textarea">Post</label>
            <textarea name="postBody" class="form-control" id="Textarea" rows="4" cols="20"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</form> <%- include('partials/footer') -%>